{{ define "main" }}

<div class="flex flex-centered justify-center flex-wrap" style="gap: 0 30px">
    {{ if and (isset .Params "image") .Params.image }}
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "1000x" }}
            {{ printf `<img src="%s" alt="%s" class="img-responsive gallery-image" style="max-width: 450px; aspect-ratio: 1 / 1; height: auto; min-width: 300px; flex: 1;">` $thumb.RelPermalink .Title | safeHTML }}
        {{ end }}
    {{ end }}

    <div class="flex flex-column" style="gap: 15px; min-width: 300px; flex: 1;">
        <h1 style="margin: 0; width: fit-content;">{{ .Page.Title }}</h1>

        {{ if and (isset .Params "status") .Params.status }}
            <div class="flex">
                <span class="font-bold" style="margin-right: 10px">Status: </span>
                <span
                    {{ if (strings.Contains .Params.status "Active") }}
                        style="color: green"
                    {{ end }}
                    {{ if (strings.Contains .Params.status "On hold") }}
                        style="color: goldenrod"
                    {{ end }}
                    {{ if (strings.Contains .Params.status "Dropped") }}
                        style="color: crimson"
                    {{ end }}
                >{{ .Params.status }}</span>
            </div>
        {{ end }}

        {{ if and (isset .Params "date") .Params.date }}
            <div class="flex">
                <span class="font-bold" style="margin-right: 10px">Started: </span>
                <span>{{ .Params.date | time.Format ":date_medium" }}</span>
            </div>
        {{ end }}

        {{ if and (isset .Params "projecttype") .Params.projecttype }}
            <div class="flex">
                <span class="font-bold" style="margin-right: 10px">Type: </span>
                <span>{{ .Params.projecttype }}</span>
            </div>
        {{ end }}

        {{ if and (isset .Params "link") .Params.link (isset .Params "linkname") .Params.linkname }}
            <div class="flex">
                <span class="font-bold" style="margin-right: 10px">Hosted on: </span>
                <a href="{{ .Params.link }}">{{ .Params.linkname }}</a>

                {{ if and (isset .Params "link2") .Params.link2 (isset .Params "linkname2") .Params.linkname2 }}
                    <span>, </span>
                    <a href="{{ .Params.link2 }}">{{ .Params.linkname2 }}</a>
                {{ end }}

                {{ if and (isset .Params "link3") .Params.link3 (isset .Params "linkname3") .Params.linkname3 }}
                    <span>, </span>
                    <a href="{{ .Params.link3 }}">{{ .Params.linkname3 }}</a>
                {{ end }}
            </div>
        {{ end }}

        <div class="flex flex-column">
            {{ .Content }}
        </div>
    </div>
</div>

{{ end }}